<template>
  <div class="panel" v-bind:show="show">
    <div class="thumbnailContainer">
      <div
        class="thumbnailItem"
        ref="thumbnailItems"
        v-for="(image, index) in files"
        v-bind:key="image.name"
        @click="emitThumbnailClicked(index)"
        v-bind:active="isActive(currentPageCopy, index)"
      >
        <!-- v-on:click="showImage" -->
        <img class="obj" />
        <div>{{ index+1 }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../main";
import PageSlider from "./PageSlider";

export default {
  name: "BottomPanel",
  components: {
    PageSlider
  },

  created() {
    EventBus.$on("pageChanged", this.updateThumbnail);
    this.currentPageCopy = this.currentPage;
  },

  mounted() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered

      const imageList = this.$refs.thumbnailItems;
      imageList.forEach((element, index) => {
        const file = this.imageFiles[index];
        const reader = new FileReader();
        reader.onload = function(e) {
          // res.src = e.target.result;
          element.childNodes[0].src = e.target.result;
        };
        reader.readAsDataURL(file);
      });
    });
  },

  data() {
    return {
      currentPageCopy: undefined
    }; //return
  }, //data

  methods: {
    emitThumbnailClicked(index) {
      const src = this.$refs.thumbnailItems[index].childNodes[0].src;
      EventBus.$emit("thumbnailClicked", index);
    },

    updateThumbnail(currentPage) {
      this.currentPageCopy = currentPage;

      //Scroll into view for active thumbnail
      // this.$refs.thumbnailItems[
      //   this.currentPageCopy
      // ].childNodes[0].scrollIntoView();

      // alert(this.currentPageCopy);
    },

    isActive(currentPage, index) {
      return currentPage === index ? true : null;
    }
  }, //methods

  computed: {
    imageFiles() {
      const files = this.files;
      if (!files) {
        return [];
      }
      return [...files].filter(f => f.type.startsWith("image/"));
      // .map(f => {
      //   const res = { file: f };
      //   return res;
      // });
    }
  },

  props: {
    files: [FileList, Array],
    currentPage: Number,
    show: Boolean
  }
};
</script>

<style scoped>
.panel {
  overflow-y: hidden;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.2s linear;
  transform: translateY(166.333px);
  z-index: 2;
}

.panel[show="true"] {
  transform: translateY(0);
}

.thumbnailContainer {
  display: flex;
  /* justify-content: space-between; */
}

.thumbnailContainer .thumbnailItem {
  height: calc(120px + 0.75rem);
  transition: transform 0.5s ease;
  margin: 5px 0px 8px 7px;
  color: aliceblue;
  font-size: 0.75rem;
  line-height: 1;
}

.thumbnailContainer .thumbnailItem > img {
  height: 120px;
}

.thumbnailContainer .thumbnailItem:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  cursor: pointer;
  /* border: 2px solid rgb(128, 128, 128); */
}

.thumbnailContainer .thumbnailItem[active="true"] {
  border: 2px solid rgb(0, 102, 204);
}
</style>
