<template>
  <div class="comicView" ref="comicView">
    <modal
      name="resumePageModal"
      @closed="modalClose"
      :width="230"
      :height="250"
      styles="text-align: center"
    >
      <p style="width: 100%">Continue from last page?</p>
      <img v-bind:src="modalImgSrc" />
      <div class="pageIndicator">{{ lastPageRead+1 }} / {{ inputFiles.length }}</div>
      <div style="margin:auto"></div>

      <div class="buttonContainer">
        <button class="leftButton" @click="resumePage">Yes</button>
        <button class="rightButton" @click="modalClose">No</button>
      </div>
    </modal>

    <Page
      :imgSource="currentImgSrc"
      :backgroundColor="backgroundColor"
      :pageBrightness="brightnessValue"
      :isFullScreen="isFullScreen"
      v-on:nextPage="nextPage"
      v-on:previousPage="previousPage"
      v-on:pageClicked="togglePanel"
    ></Page>
    <BottomPanel :files="inputFiles" :currentPage="currentPage" :show="showBottomPanel"></BottomPanel>
    <TopPanel
      :show="showTopPanel"
      v-on:changeBackground="updateBackgroundColor"
      v-on:fullScreen="toggleFullScreen"
      v-on:emitBrightnessValue="setBrightnessValue"
      v-on:returnToSelectionView="$emit('returnToSelectionView')"
    ></TopPanel>
  </div>
</template>

<script>
import { EventBus } from "../main";
import BottomPanel from "./BottomPanel";
import TopPanel from "./TopPanel";
import Page from "./Page";
import Vue from "vue";
import localforage from "localforage";

export default {
  name: "ComicView",
  components: {
    BottomPanel,
    TopPanel,
    Page
  },

  created() {
    EventBus.$on("thumbnailClicked", this.setPage);
    this.setPage(this.currentPage);
    document.addEventListener("keyup", this.handleKeyup);

    //Check last page read
    localforage
      .getItem("bookmarks")
      .then(bookmarks => {
        bookmarks = bookmarks || {};

        if (bookmarks[this.comicName]) {
          let lastPageRead = bookmarks[this.comicName].resumePage;
          // console.log(this.comicName, lastPageRead);
          if (lastPageRead !== 0) {
            this.lastPageRead = lastPageRead;
            this.$modal.show("resumePageModal");
            // this.setPage(lastPageRead);
          }
          //New comic, new bookmark file for this
        } else {
          bookmarks[this.comicName] = {
            resumePage: 0
          };
          this.lastPageRead = 0;
        }
        return localforage.setItem("bookmarks", bookmarks);
      })
      .then(() => {
        //load page thumbnail for resume page
        // debugger;

        if (this.lastPageRead) {
          const file = this.inputFiles[this.lastPageRead];
          const reader = new FileReader();
          //This is asynchronous, will go after readAsDataUrl
          reader.onload = e => {
            this.modalImgSrc = e.target.result;
            // this.setSrc(e.target.result);
          };
          reader.readAsDataURL(file);
        }
      });
  },

  destroyed() {
    document.removeEventListener("keyup", this.handleKeyup);
  },

  data() {
    return {
      preview: "",
      // bottomPanelHandle: undefined,
      // topPanelHandle: undefined,
      currentImgSrc: undefined,
      currentPage: 0,
      backgroundColor: "white",
      showBottomPanel: false,
      showTopPanel: false,
      brightnessValue: 0,
      isFullScreen: false,
      bookmarks: undefined,
      lastPageRead: undefined,
      modalImgSrc: undefined
    }; //return
  }, //data

  mounted() {
    this.$nextTick(function() {});
  },

  methods: {
    togglePanel() {
      this.showBottomPanel = !this.showBottomPanel;
      this.showTopPanel = !this.showTopPanel;
    }, //togglePanel

    setSrc(theSource) {
      this.currentImgSrc = theSource;
    },

    setPage(index) {
      // debugger;
      // console.log(index);
      const file = this.inputFiles[index];
      const reader = new FileReader();
      reader.onload = e => {
        // res.src = e.target.result;
        this.setSrc(e.target.result);
      };
      reader.readAsDataURL(file);
      this.currentPage = index;
      EventBus.$emit("pageChanged", this.currentPage);
      this.saveCurrentPage();
    }, //setPage

    //Save current page to booksmarks file
    saveCurrentPage() {
      // debugger;
      // () => {
      // this.bookmarks =
      localforage.getItem("bookmarks").then(bookmarks => {
        bookmarks = bookmarks || {};
        //Get folder name
        bookmarks[this.comicName] = {
          resumePage: this.currentPage
        };
        // console.log(this.comicName, this.currentPage);
        this.bookmarks = bookmarks;
        return localforage.setItem("bookmarks", bookmarks);
      });
    }, //saveCurrentPage

    nextPage() {
      const length = this.inputFiles.length;
      if (this.currentPage < length - 1) {
        this.currentPage = this.currentPage + 1;
        this.setPage(this.currentPage);
      }
    }, //nextPage

    previousPage() {
      if (this.currentPage > 0) {
        this.currentPage = this.currentPage - 1;
        this.setPage(this.currentPage);
      }
    }, //previousPage

    updateBackgroundColor(color) {
      this.backgroundColor = color;
    },

    toggleFullScreen() {
      // debugger;
      if (document.fullscreenElement !== null) {
        document.exitFullscreen();
        this.isFullScreen = false;
      } else {
        this.$refs.comicView.requestFullscreen();
        this.isFullScreen = true;
      }
    }, //toggleFullScreen

    handleKeyup(event) {
      const arrowRight = 39;
      const arrowLeft = 37;
      const f = 70;

      switch (event.keyCode) {
        case arrowRight:
          this.nextPage();
          break;
        case arrowLeft:
          this.previousPage();
          break;
        case f:
          this.toggleFullScreen();
          break;
        default:
          break;
      }
    }, //handleKeyUp

    setBrightnessValue(value) {
      this.brightnessValue = value;
    },

    handleModalInput(event) {
      console.log(event.params);
    },

    resumePage() {
      this.setPage(this.lastPageRead);
      this.$modal.hide("resumePageModal");
    },

    modalClose() {
      //Currentpage will be 0 so set page to first page
      this.setPage(this.currentPage);
      // console.log(this.currentPage);
      this.$modal.hide("resumePageModal");
    }
  }, // methods

  computed: {}, //computed

  props: {
    inputFiles: [FileList, Array],
    comicName: String
  } //props
}; //default
</script>

<style scoped>
.comicView {
  overflow: hidden;
  position: relative;
  /* display: flex;
  align-items: center; */
}

button {
  /* background: tomato; */
  width: 50%;
  height: 40px;
  /* border: none; */
  font-family: "Spartan", sans-serif;
  color: #2c3e50;
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-color: rgb(189, 189, 189);
  cursor: pointer;
}

.rightButton {
  border-bottom-right-radius: 3px;
}

.leftButton {
  border-bottom-left-radius: 3px;
}

button:hover {
  background-color: silver;
}
.buttonContainer {
  display: flex;
  width: 100%;
}

img {
  height: 120px;
}

.pageIndicator {
  padding: 0.5em;
  font-size: 0.9em;
}
</style>