<template>
  <div class="main">
    <div
      class="container"
      @mouseenter="switchStyle"
      @mouseleave="switchStyle"
      v-bind:style="{ 'background-color': backgroundColor}"
    >
      <div class="brightnessLayer" v-bind:style="{ 'opacity': pageBrightness}"></div>

      <div
        class="pageChange pageChange-left"
        @click="previousPage"
        v-bind:style="{ visibility: iconVisibility, opacity:iconOpacity }"
      >
        <i class="fa fa-chevron-left fa-4x"></i>
      </div>
      <div
        class="currentTime"
        v-if="isFullScreen"
        v-bind:style="{opacity: timeOpacity}"
        @click="toggleTimeOpacity"
      >{{ time }}</div>

      <div class="imgContainer" @click="handlePageClicked" ref="seadragon"></div>
      <div
        class="pageChange pageChange-right"
        @click="nextPage"
        v-bind:style="{ visibility: iconVisibility, opacity:iconOpacity }"
      >
        <i class="fa fa-chevron-right fa-4x"></i>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../main";
import OpenSeaDragon from "openseadragon";

function createDebounced(f) {
  let lastrun;
  let cancel;

  return (...args) => {
    const oldLastrun = lastrun;
    // const oldClicked = clicked;
    lastrun = Date.now();
    // clicked = true;
    if (!oldLastrun) {
      cancel = window.setTimeout(() => {
        lastrun = undefined;
        f(...args);
      }, 200);
      return undefined;
    }
    if (lastrun - oldLastrun < 200) {
      window.clearTimeout(cancel);
      lastrun = undefined;
    }
    return undefined;
  };
}

export default {
  name: "Page",
  components: {},

  data() {
    return {
      timeOpacity: 1,
      iconVisibility: "hidden",
      iconOpacity: 0,
      viewer: undefined,
      test: createDebounced((event, bound) => {
        // console.dir(event);
        bound.$emit("pageClicked");
      }),
      time: undefined,
      clearId: undefined
    }; //return
  }, //data

  mounted() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered

      this.viewer = OpenSeaDragon({
        element: this.$refs.seadragon,
        gestureSettingsMouse: {
          clickToZoom: false,
          dblClickToZoom: true
        },
        showNavigationControl: false
      });

      this.viewer.innerTracker.keyHandler = null;

      if (this.imgSource) {
        this.viewer.open({
          type: "image",
          url: this.imgSource
        });
      }
    });
  },

  created() {
    // EventBus.$on("thumbnailClicked", this.showImage);

    this.clearId = window.setInterval(() => {
      const currentTime = new Date();
      let hours = currentTime.getHours();
      let timeofDay = hours < 12 ? "AM" : "PM";
      const minutes = currentTime.getMinutes();
      hours = hours % 12;
      hours = hours === 0 ? 12 : hours;
      if (minutes < 10) {
        this.time = `${hours}:0${minutes} ${timeofDay} `;
      } else {
        this.time = `${hours}:${minutes} ${timeofDay} `;
      }

      // console.log(his.time);
    }, 1000);
  }, //created

  destroyed() {
    window.clearInterval(this.clearId);
  },

  methods: {
    switchStyle() {
      this.iconVisibility =
        this.iconVisibility === "hidden" ? "visible" : "hidden";
      this.iconOpacity = this.iconOpacity === 0 ? 1 : 0;
    },

    toggleTimeOpacity() {
      this.timeOpacity = this.timeOpacity === 0 ? 1 : 0;
    },

    nextPage(event) {
      this.$emit("nextPage");
      event.preventDefault();
    },

    previousPage(event) {
      this.$emit("previousPage");
      event.preventDefault();
    },

    handlePageClicked(event) {
      this.test(event, this);
    }
  }, //methods

  computed: {}, //computed

  props: {
    imgSource: String,
    backgroundColor: String,
    pageBrightness: Number,
    isFullScreen: Boolean
  },

  watch: {
    imgSource() {
      this.viewer.open({
        type: "image",
        url: this.imgSource
      });
    },

    isFullScreen(isFullScreen) {
      if (!isFullScreen) {
        this.timeOpacity = 1;
      }
    }
  }
}; //default
</script>

<style scoped>
.main {
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.pageChange {
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.pageChange-left {
  left: 0;
}

.pageChange-right {
  right: 0;
}

.fa-chevron-left,
.fa-chevron-right {
  margin: 0 10px;
  transition: all 0.35s ease-in-out;
}

/* {
  margin-right: 10px;
  transition: all 0.35s ease-in-out;
} */

.brightnessLayer {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: absolute;
  background-color: black;
  /* bottom: 0;
  right: 0;
  left: 0;
  top: 0; */
  z-index: 1;
  /* opacity: 0.5; */
}

.imgContainer {
  width: 100%;
  height: 100%;
}

img {
  height: 100%;
  /* bottom: 0;
  right: 0;
  left: 0;
  top: 0; */
  z-index: 1;
  /* opacity: 0.5; */
}

.imgContainer {
  width: 100%;
  height: 100%;
}

img {
  height: 100%;
}

.currentTime {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 60px;
  padding: 0.5em;
  z-index: 2;
  user-select: none;
}
</style>
