<!-- Dropzone + fileopening -->
<template>
  <div>
    <div class="inputContainer">
      <div style="margin:auto"></div>
      <label>
        <!-- <v-icon class="folderIcon" name="folder-plus" scale="10" /> -->
        <i class="fa fa-folder-o folderIcon">
          <input
            type="file"
            id="fileElem"
            multiple
            webkitdirectory
            accept="image/*"
            class="visually-hidden"
            @change="handleInput"
          />
          <i class="fa fa-plus plusIcon" aria-hidden="true"></i>
        </i>
        <div class="instructions">{{ "Select a folder with images."}}</div>
      </label>
      <!-- <label>
        <input
          type="file"
          id="fileElem"
          multiple
          accept="image/*"
          class="visually-hidden"
          @change="handleFile"
        />
        <i class="fa fa-folder-o folderIcon" />
      </label>-->
      <div style="margin:auto"></div>
    </div>

    <div class="comicsContainer">
      <div v-for="comic in comics" v-bind:key="comic.name">
        <div @click="openComic(comic)" class="comic">
          <img v-bind:src="comic.coverSrc" alt />
          <div class="comicName">{{ comic.name }}</div>
        </div>
        <v-icon class="trashIcon" name="trash-alt" scale="1.2" @click="deleteComic(comic.name)" />
      </div>
    </div>
  </div>
</template>

<script>
import localforage from "localforage";
import "vue-awesome/icons/folder-plus";
import "vue-awesome/icons/trash-alt";
// import from "..uncompress/";

import Icon from "vue-awesome/components/Icon";

export default {
  name: "SelectionView",
  components: { "v-icon": Icon },

  data() {
    return {
      comics: undefined
    }; //reeturn
  }, //data

  created() {
    localforage.getItem("comics").then(comics => {
      this.comics = comics;
    });
  },

  mounted() {
    // let recaptchaScript = document.createElement("script");
    // recaptchaScript.setAttribute("src", "../uncompress/uncompress.js");
    // document.head.appendChild(recaptchaScript);
  },

  methods: {
    deleteComic(comicName) {
      let comicsCopy;
      localforage
        .getItem("comics")
        .then(comics => {
          comics = comics || {};
          comicsCopy = comics;

          const currentComic = comics[comicName];

          return Promise.all(
            currentComic.filenames.map(f => {
              return localforage.removeItem(f);
            })
          );
        })
        .then(() => {
          delete comicsCopy[comicName];

          return localforage.setItem("comics", comicsCopy).then(() => {
            this.comics = comicsCopy;
          });
        });
    },

    openComic(comic) {
      Promise.all(
        comic.filenames.map(fname => localforage.getItem(fname)) //map to combine into an array
      ).then(files => {
        this.$emit("open-file-done", files, comic.name);
      });
    },

    // handleDrop(event) {
    //   let dt = event.dataTransfer;
    //   let files = dt.files;
    //   this.addToLibrary(files);
    // },
    // handleFile(event) {
    //   let files = event.target.files;
    //   //todo Check for 0 files
    //   $loadArchiveFormats(["rar", "zip"], function() {
    //     console.log("in loadArchiveFormats");
    //   });
    // },

    handleInput(event) {
      let files = event.target.files;
      if (!files.length) {
        alert("No files were selected.");
        return;
      } else {
        this.addToLibrary(files);
      }
    }, //handleInput

    addToLibrary(files) {
      let comicName;
      return Promise.all(
        [...files].map(f => {
          return localforage.setItem(f.name, f);
        })
      )
        .then(() => {
          return localforage.getItem("comics");
        })
        .then(comics => {
          //Get img source of first image, cover
          return new Promise(resolve => {
            const reader = new FileReader();
            reader.onload = e => {
              resolve(e.target.result);
            };
            reader.readAsDataURL(files[0]);
          }).then(src => {
            comics = comics || {};
            //Get folder name
            const name = files[0].webkitRelativePath.split("/")[0];
            comicName = name;
            comics[name] = {
              name,
              coverSrc: src,
              filenames: [...files].map(f => f.name)
            };
            this.comics = comics;
            return localforage.setItem("comics", comics);
          });
        })
        .then(() => {
          this.$emit("open-file-done", files, comicName);
        });
    }
  } //methods
}; //export
</script>

<style scoped>
.inputContainer {
  display: flex;
  justify-content: space-evenly;
}

label {
  cursor: pointer;
  display: block;
}

.folderIcon {
  position: relative;
  font-size: 160px;
  color: black;
  margin: 0px 40px 0px 40px;
}

.plusIcon {
  position: absolute;
  font-size: 50px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}

/*#drop-zone {
   margin: 30px;
   width: 300px;
   height: 300px; 
   border: 1px dotted grey;
}*/

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}

input.visually-hidden:focus-within + label {
  outline: thin dotted;
}

.comicsContainer {
  display: flex;
  /* outline: thin dotted; */
  /* border: 2px solid rgb(0, 0, 0); */
  /* height: */
}

.comic {
  /* height: calc(150px + 0.75rem); */
  margin: 5px 20px 5px 20px;
  color: black;
  font-size: 0.6rem;
  line-height: 1.5;
  word-wrap: break-word;
  cursor: pointer;
  max-width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.comic:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.comic > img {
  height: 150px;
  transition: transform 0.5s ease;
}

.comicName {
  padding: 2px 5px;
  font-weight: light;
}

.trashIcon {
  cursor: pointer;
  padding: 0.5em;
}

.trashIcon:hover {
  color: rgb(255, 80, 80);
}
</style>