<template>
  <div class="topPanel" v-bind:show="show">
    <v-icon
      class="icon iconBack"
      name="arrow-left"
      scale="1.4"
      @click="$emit('returnToSelectionView')"
    />
    <div style="margin:auto"></div>

    <div class="brightnessContainer">
      <v-icon class="icon" name="adjust" scale="1.4" @click="adjustBrightness"></v-icon>
      <input
        type="range"
        id
        name="brightness"
        min="0"
        max="0.9"
        v-model="brightnessValue"
        step="0.1"
        ref="brightnessSlider"
        @change="$emit('emitBrightnessValue', Number(brightnessValue))"
      />
    </div>

    <div class="colorPickerContainer">
      <label for="colorPicker">
        <v-icon
          class="icon"
          v-bind:color="colorValue === 'black' ? '#2c3e50' : colorValue"
          name="palette"
          scale="1.4"
        />
        <input
          type="color"
          id="colorPicker"
          name="colorPicker"
          v-model="colorValue"
          class="visually-hidden"
          @input="$emit('changeBackground', colorValue)"
        />
      </label>

      <span v-bind:active="colorValue === 'white'">
        <v-icon class="icon" label="colorPicker" @click="changeBackground('white')">
          <v-icon name="circle" color="white" scale="1.3"></v-icon>
          <v-icon name="regular/circle" scale="1.4" class="outerCircle" color="white"></v-icon>
        </v-icon>
      </span>

      <span v-bind:active="colorValue === 'black'">
        <v-icon class="icon" label="colorPicker" @click="changeBackground('black')">
          <v-icon name="circle" color="black" scale="1.3"></v-icon>
          <v-icon name="regular/circle" scale="1.4" class="outerCircle" color="white"></v-icon>
        </v-icon>
      </span>

      <span v-bind:active="colorValue === 'rgb(250, 239, 219)'">
        <v-icon class="icon" label="colorPicker" @click="changeBackground('rgb(250, 239, 219)')">
          <v-icon name="circle" color="rgb(250, 239, 219)" scale="1.3"></v-icon>
          <v-icon name="regular/circle" scale="1.4" class="outerCircle" color="white"></v-icon>
        </v-icon>
      </span>
    </div>

    <i class="fa fa-expand fa-lg icon" @click="$emit('fullScreen')"></i>
  </div>
</template>
adjust
<script>
import "vue-awesome/icons/palette";
import "vue-awesome/icons/circle";
import "vue-awesome/icons/regular/circle";
import "vue-awesome/icons/arrow-left";
import "vue-awesome/icons/adjust";

import Icon from "vue-awesome/components/Icon";

export default {
  name: "TopPanel",
  components: { "v-icon": Icon },

  data() {
    return {
      brightnessValue: 0,
      colorValue: "white",
      //If direction true, go up
      sliderDirection: true
    }; //return
  }, //data

  methods: {
    adjustBrightness() {
      const ref = this.$refs.brightnessSlider;

      if (this.sliderDirection) {
        ref.stepUp();
        if (ref.valueAsNumber === 0.9) {
          this.sliderDirection = false;
        }
      } else {
        ref.stepDown();
        if (ref.valueAsNumber === 0) {
          this.sliderDirection = true;
        }
      }

      this.brightnessValue = ref.valueAsNumber;
      this.$emit("emitBrightnessValue", this.brightnessValue);
    }, //adjustBrightness

    changeBackground(color) {
      this.colorValue = color;
      this.$emit("changeBackground", color);
    }
  }, //methods

  props: {
    show: Boolean
  } //props
};
</script>

<style>
.topPanel {
  background-color: rgba(0, 0, 0, 0.479);
  display: flex;
  justify-content: flex-begin;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  transition: all 0.2s linear;
  transform: translateY(-50px);
  z-index: 2;
}

.topPanel[show="true"] {
  transform: translateY(0);
}

.brightnessContainer {
  display: flex;
  position: relative;
  margin-right: 60px;
}

.colorPickerContainer {
  display: flex;
  position: relative;
  margin-right: 25px;
}

label {
  display: flex;
}

label[for="colorPicker"] {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* .fa-expand {
} */
.icon.iconBack {
  margin: 10px;
}

.icon {
  margin: 10px 10px 10px 0px;
  cursor: pointer;
}

.icon:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.topPanel span[active="true"] .outerCircle {
  /* border: 2px solid rgb(0, 102, 204); */
  fill: rgb(0, 102, 204);
}

i {
  position: relative;
}

.square {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  /* border: solid 21px #f00; */

  height: 15px;
  width: 15px;
}
</style>
