<template>
  <div id="app">
    <SelectionView v-on:open-file-done="handleOpenFileDone" v-if="viewId === 'selectionView'" />

    <ComicView
      v-on:returnToSelectionView="switchView"
      :inputFiles="theFiles"
      :comicName="comicName"
      v-else
    />
  </div>
</template>

<script>
import SelectionView from "./components/SelectionView";
import ComicView from "./components/ComicView";
// import "vue-awesome/icons";
// import Icon from "vue-awesome/components/Icon";

export default {
  name: "App",
  components: {
    SelectionView,
    ComicView
    // "v-icon": Icon
  },

  data() {
    return {
      viewId: "selectionView",
      theFiles: null,
      comicName: undefined
    }; //return
  }, //data

  mounted() {},

  methods: {
    handleOpenFileDone(files, name) {
      this.theFiles = files;
      this.viewId = "comicView";
      this.comicName = name;
    },

    switchView() {
      this.viewId = "selectionView";
    }
  } //methods
};
</script>

<style>
#app {
  width: 100vw;
  height: 100vh;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slideout-panel .slideout-wrapper .slideout.bottomPanel {
  overflow-y: hidden;
  background: none;
}

body {
  margin: 0;
}

.v--modal {
  /* padding: 2px; */
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
</style>
